html {
    width: 100%;
    height: 100%;
}
body {
    background: #2c3e50;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #2c3e50;
}
::-webkit-input-placeholder { /* Edge */
    color: white;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::placeholder {
    color: white;
  }
.todo-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #bdc3c7;
   margin: 0 auto;
  box-shadow: 0 0 10px black;
   padding: 30px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}
.todo-section_input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.todo-section_input input {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 10px;
    background: #2c3e50;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.todo-section_clear-button {
    color: #2c3e50;
    text-decoration: none;
    transition: all 0.5s;
}
.todo-section_clear-button:hover {
    text-decoration: underline;
}
.todo-section_notification {
    color: #2c3e50;
}
.todo-section_list {
    border-top: 1px solid  #2c3e50;
    border-bottom: 1px solid  #2c3e50;
    margin: 10px 0;
    width: 100%;
}
.todo-section_list ul li {
margin: 10px 0;
font-size: 20px;
}
.todo-section_filters { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.todo-section_bottom-filters { }
.todo-section_filters-button {
    color: #2c3e50;
    text-decoration: none;
    transition: all 0.5s;
    margin-left: 10px;
}
.todo-section_filters-button:first-child {
    margin-left: 0;
}
.todo-section_filters-button:hover {
    text-decoration: underline;
}